*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: url('/img/cta-bg.jpg');
    background-size: cover;
    background-position: center;
    width: auto;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    height: 70vw;

}

html {
    scroll-behavior: smooth;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 15px;
    gap: 20px;
    padding-top: 15px; /* Adjusted padding */
    padding-bottom: 15px; /* Added padding to the bottom */
    cursor: pointer;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #3498db; /* Blue background color */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add a subtle box shadow */
}

div .info-child{
    margin-bottom:30px ;
}
nav ul li:hover,
.f-container li:hover {
    background-color: #f0f0f0; /* Set the desired light background color */
    padding: 10px 5px;
    border-radius: 6px;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.header-mid button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
    margin-top: 30px;
	outline: inherit;
    
}
section{
    background: url('/img/about-bg.jpg');
    background-size: cover;
    background-position: center;
    width: auto;
    background-repeat: no-repeat;
    width: auto;


}

.header-mid{
    padding-top: 200px;
    color: #ffff;
    text-align: center;
    
    
}

header ul{
    font-weight: bold;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:15px;
}

section{
    display: flex;
    justify-content: space-around;
    padding: 100px 20px;
    /* gap: 50px; */
}
.section-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;

}
.section-container div{
    margin-bottom: 5px;
}
.section-container img{
    width: 50px;
    height: 50px;

}
.about-us{
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.section-btn {
    background-color: #00308F;
    border: 1px solid #fff;
    border-radius: 7px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    font-family: Rubik, sans-serif;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease; /* Adding a smooth transition effect */
}

.section-btn:hover {
    background-color: #001F5B; /* Change the background color on hover */
    color: #fff; /* Change the text color on hover */
}

.services{
    background:#f8f8ff ;
    padding: 50px 60px;

}
.srv-text{
    text-align: center;
}
.srv-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
    gap:10px;
    
}.child-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
    transition: transform 0.3s ease; /* Adding a smooth transition effect */
}

.child-container:hover {
    transform: scale(1.05); /* Increasing the size on hover, you can adjust as needed */
}

.child-container img{
    width: 50px;
    height: 50px;

}


.info{
    background: #ADD8E6;
    display: flex;
    justify-content: space-around;
    padding: 80px 30px;
    flex-wrap: wrap;
}
.info-text{
    display: flex;
    gap:15px;
    margin-bottom: 20px;
}
.info-text img{
    height: 50px;
    width: 50px;
}
.call{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('/img/cta-bg.jpg');
    color: #ffff;
    gap:15px;
    padding: 30px 15px;
    
}
.call-btn {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 16px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-family: Rubik, sans-serif;
    color: #fff;
    transition: transform 0.3s ease; /* Adding a smooth transition effect on transform property */
}

.call-btn:hover {
    transform: translateY(-5px); /* Move the button up by 5 pixels on hover */
}


.port-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    text-align: center;
}
.port{
    background-color: #ffff;
    margin: 20px 0px;
}

.port-bar{
    display: flex;
    gap:20px;
    background: #ADD8E6;
    border-radius: 16px;
    padding: 8px;
}
.port-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    padding: 30px;
}
.port-container img {
    width: auto;
    height: 200px;
    transition: transform 0.3s ease; /* Adding a smooth transition effect on transform property */
}

.port-container img:hover {
    transform: scale(1.1); /* Scale the image by 10% on hover */
}
.port-bar span {
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Adding a smooth transition effect on background-color property */
}

.port-bar span:hover {
    background-color: #87CEEB; /* Change the background color on hover */
}

.test-child img{
    width: 100px; /* Set the width of your image */
    height: 100px; /* Set the height of your image */
    border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
    overflow: hidden; 
}

.test{
    background: #B4CFEC;
    display: flex;
    flex-direction: column;
    gap:40px;
    padding: 30px 0px;
}

.test-container{
    display: flex;
    gap:40px;
    padding:0px 15px;
}
.test-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.test-info{
    display: flex;
    flex-direction: column;
    gap:10px;
    text-align: center;
}

.test-text{
    background-color: #ffff;
    text-align: center;
    padding: 30px 20px;
    border-radius: 6px;
}


.team-child img{
    height: 300px;
    width: auto;
}
.team{
    background-color: #FAF9F6;
    padding: 30px 0px;
}


.team-child:hover div {
    display: block;
}

.team-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    text-align: center;
    padding-top: 30px;
    gap:20px;
    
}
.team-child div{
    background:#E1EBEE;
    padding: 15px;
        display: none;
    

}

summary{
    background: #E1EBEE;
}

.contact-child img{
    height: 30px;
    width: 30px;
}
.contact-info{
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;

}
.contact-child{
    display: flex;
    flex-direction: column;
    gap:10px;
    background: #ffff;
    padding: 10px 120px;
}
iframe{
    height: 300px;
    width: auto;
}
.contact-input{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;

}
footer{
    background: #28282B;
    padding-bottom: 40px;
    color: #fff;

}
.f-container{

    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    padding: 30px 50px;
  
  
  }
  
  .f-container li{
      list-style: none;
      margin-bottom: 7px;
      font-size: 15px;
      cursor: pointer;
  }
  .b-txt{
      font-weight: bold;
  }
  .icons{
      display: flex;
      
      gap: 20px;
      margin-left: 100px;
  }
  .t-icons{
    display: flex;
    justify-content: space-between;
  }


  .form-group {
    margin-bottom: 20px;
}
.img-icon{
    height: 50px;
    padding-right: 40px;
    width: auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}



  

  @media (max-width: 768px) {
    header {
        height: 100vh;
    }


    .header-mid {
        padding-top: 100px;
    }

    .section-container {
        grid-template-columns: 1fr;
    }

    .srv-container {
        grid-template-columns: repeat(2, 1fr);
        
    }

    .port-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .test-container {
        flex-direction: column;
    }

    .team-container {
        grid-template-columns: 1fr;
    }

    .contact-info{
        flex-wrap: wrap;
        gap:30px;

    }
    footer {
        padding: 30px;
    }
    

    
    

    .f-container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 15px;
        justify-items: flex-start;
        padding: 0px;
    }

    .icons {
        margin: 0px 0px;
        padding: 20px 0px;
    }
    
    section{
        flex-direction: column;
        gap: 50px;
    }
    .child-container{
        padding:20px 10px;
    }


    nav {
        position: relative; 
        background-color: #3498db; 
        padding-top: 10px; 
        padding-bottom: 10px;
    }

}
